html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  min-width: 340px;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  font-family: Trebuchet MS, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  background-color: #000000;
  background-image: url('../img/bg.jpg');*/*/*/
  background-repeat: repeat;
  background-position: 0 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

body::before {
  position: absolute;
  content: '';
  top: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  opacity: 0.5;
  background: linear-gradient(to bottom, rgba(0,0,0,0.5) 10%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, rgba(0,0,0,0.5) 100%);
  z-index: -1;
}

@media (min-width: 1200px) {
  body {
    height: 100vh;
  }
}
